<ng-container>
    <button class="btn btn-outline-primary me-3" (click)="get500error()">Test 500 Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get400error()">Test 400 Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get401error()">Test 401 Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get404error()">Test 404 Error</button>
    <button class="btn btn-outline-primary me-3" (click)="get400ValidationError()">Test 500 Validation Error</button>
</ng-container>